.container{
    /* background-color:yellow; */
    /* background-color:red; */
    background-color:white;
    /* margin-left: 0;
    margin-right: 0; */
    padding-left: 0;
    padding-right: 0;
}

.conteneur{
    border-style: double;
}

.name {
    background-color: green;
}

.menu{
    background-color: red;
}

.row{
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding-top: 1em;
}

.display-products{
    display:flex;
    flex-direction: row;
}

.header{
    display:flex;
    flex-direction: column;
}

.display{
    flex-direction: row;
    justify-content: space-evenly;
}

.product{
    display:flex;
    justify-content: space-around;
}

.top{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.update {
    display: flex;
}

.navigation{
    display:flex;
    margin-left: 0;
    justify-content: space-between;
    flex-direction: row;
}

.nav-li{
    padding-left: 1em;
    padding-right: 1em;
}

.pagination{
    justify-content: center;
    padding-top:1em;
}

.btn-i{
    justify-content: center;
}